

.App {
  text-align: center;
 }
 
 
 .App-logo {
  height: 40vmin;
  pointer-events: none;
 }
 
 
 @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
 }
 
 
 .logo-left {
  height: auto; /* This will maintain the aspect ratio */
  width: auto; /* This will maintain the aspect ratio */
  max-height: 50px; /* Adjust as needed for your navbar height */
  max-width: 100%; /* This ensures the logo does not overflow */
 }
 
 
 /* Adjust this class for the left logo if you want to change its size */
 #left-logo {
  flex-grow: 1;
 }
 
 
 #center-logo {
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 }
 
 
 .navbar-nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
 }
 
 
 .nav-link.active {
  color: #007bff; /* Bootstrap primary color, or choose your own */
  font-weight: bold;
 }
 
 
 .nav-item .nav-link {
  font-size: 0.9em; /* Adjust as needed for smaller text */
 }
 
 
 .App-link {
  color: #61dafb;
 }
 
 
 .grid-item {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
  background-color: #f8f9fa; /* Light grey background similar to Bootstrap’s default */
  border: 1px solid #dee2e6; /* Bootstrap-like borders */
 }
 
 
 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 }
 
 
 #default-list .e-list-item {
  height: 100px;
  width: 100px;
  float: left;
 }
 
 
 
 
 