/* PropertyList.css */

.property-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px;
  }
  
  .property-card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .property-card:hover {
    box-shadow: 0 9px 18px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
  }
  
  .property-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .property-image-placeholder {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
  }

  /* .property-details {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    color: #08354F;
  } */

  .property-details {
    text-align: center;
    color: #08354F;
  }
  .property-details h4 {
    margin-top: 20px;
  }
  
  .property-info {
    font-size: 1.1rem;
    color: #08354F;
    margin-bottom: 8px; /* Adjusted for better spacing */
  }
  
  .property-button-div {
    padding: 20px;
    text-align: center;
    background-color: white;
  }
  
  .property-button {
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    background-color: #10C3AF;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }
  .property-button:hover {
    background-color: #08354F;
    border-color: #08354F;
  }
  
  .property-heading {
    margin: 0 0 10px 0;
  }
  